* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: system-ui;
  position: relative;
  overflow: hidden;
}

.loader {
  background-color: #fe4a22;
  position: relative;
  color: white;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.loader .divmove {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  display: flex;
}
.loader .divmove .bgdiv {
  background-color: #fe4a22;
  height: 100vh;
  flex: 1;
  transform-origin: top;
}
.loader .text {
  padding-top: 15%;
}
.loader .text .top {
  font-size: 1.8rem;
  padding: 0 3rem;
}
.loader .text .middle {
  display: flex;
  width: 100%;
  gap: 1rem;
  align-items: center;
}
.loader .text .middle .line {
  height: 2px;
  width: 30vw;
  background-color: white;
}
.loader .text .middle .line:nth-of-type(2) {
  width: 20vw;
}
.loader .text .middle .line:nth-of-type(3) {
  width: 10vw;
}
.loader .text .middle .line:nth-of-type(4) {
  width: 10vw;
}
.loader .text .middle img {
  scale: 0;
}
.loader .text .bottom h1 {
  font-size: 17vw;
  font-weight: 400;
  line-height: 1.2;
  padding: 0 2rem;
}
.loader .text .bottom h1 span {
  font-size: 8rem;
  vertical-align: super;
}

.cursor {
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: #fe4a22;
  top: 0;
  border-radius: 50%;
  mix-blend-mode: difference;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    background-color: green;
  }
}